.Confirmation {
  background-color: #E9EAEC;
  position: fixed;
  bottom: 5%;
  right: 3%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 15px;
  text-align: center;
}

.neutralButton {
  width: 70px;
  height: 70px;
  background-color: #2F3237;
  border-radius: 50%;
  border-color: transparent;
  bottom: 5%;
  right: 3%;
  position: fixed;
  transition: 0.2s;
}

.neutralButton:hover {
  background-color: #1C1E21;
  transition: 0.2s;
}
.neutralButton:active{
  background-color: #090A0B;
  transition: 0.2s;
}
.neutralButton:focus {
  outline: none;
}