.Confirmation {
  background-color: #E9EAEC;
  position: fixed;
  bottom: 5%;
  right: 3%;
  padding-left: 1%;
  padding-right: 1%;
  /* height: 200px; */
  border-radius: 15px;
  text-align: center;
}